* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

html, body, #root {
  height: 100%;
}

main {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;
}

.mainContainer {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}

.apiContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h1, h2, h3 {
  font-family: 'Droid Serif', Georgia, Times, serif;
  margin-bottom: 1rem;
}

nav {
  background: rgba(30,87,153,1);
  color: white;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  height: 100%;
}

nav ul li {
  text-align: center;
  height: 2rem;
  min-width: 150px
}

nav ul li a:hover {
  background: white;
  color: rgba(30,87,153,1);
}

nav ul li:nth-of-type(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

nav ul li a {
  text-decoration: none;
  color: white;
  line-height: 2rem;
  display: block;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: .25rem;
}

.weatherBox {
  color: white;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 325px;
  min-height: 350px;
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(40,104,168,0.9) 35%, rgba(49,120,182,0.8) 68%, rgba(58,136,196,0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(40,104,168,0.9) 35%,rgba(49,120,182,0.8) 68%,rgba(58,136,196,0.7) 100%);
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(40,104,168,0.9) 35%,rgba(49,120,182,0.8) 68%,rgba(58,136,196,0.7) 100%);
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
}

.weatherBox h3 {
  margin: 0.5rem 0 0;
}

.weatherBox .summary {
  font-size: 1.1rem;
}

.skyconBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weatherDailyContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  grid-gap: 2rem;
  width: 100%;
  justify-content: center;
}

.tempDiv {
  width: 4rem;
}

.tempBut {
  font-family: 'Droid Serif', Georgia, Times, serif;
  background: white;
  color: rgba(30,87,153,1);
  height: 100%;
  width: 50%;
  font-size: 1rem;
}

.navRightContainer {
  display: flex;
}

.locationForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  margin-bottom: 1.5rem;
}

.locationForm input {
  font-size: 100%;
  height: 100%;
  max-width: 280px;
  flex: 1 1 auto;
  border-radius: 3px;
  margin-right: 0.25rem;
  padding: 0.2rem;
}

.locationForm button {
  height: 100%;
  background: rgba(30,87,153,1);
  color: white;
  font-size: 100%;
  font-family: inherit;
  border: 1px solid rgba(20,77,143,1);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

table {
  table-layout: fixed;
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead {
  background: rgba(30,87,153,1);
  color: white;
}

thead th:nth-child(2) {
  min-width: 10rem;
}

th, td {
  padding: 0.2rem;
  text-align: center;
}

footer {
  background: rgba(30,87,153,1);
  color: white;
  margin-top: 2rem;
}

footer img {
  display: block;
  height: auto;
  max-width: 300px;
  margin: auto;
}

@media screen and (max-width: 500px) {
  nav {
    background: rgba(30,87,153,1);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    position: relative;
  }

  nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  nav ul li {
    flex: 1 0 auto;
    text-align: center;
    height: 2rem;
    width: 100%;
  }

  nav ul li:nth-of-type(2) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: none;
    border-right: none;
  }

  .tempDiv {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
  }

  main {
    padding: 0;
  }

  .locationForm {
    margin-top: 1rem;
  }


}