* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  padding: 1rem;
}

h1, h2, h3 {
  margin-bottom: 1rem;
}

.weatherBox {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 300px;
  min-height: 300px;
}

.skyconBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}